resource "aws_internet_gateway" "{{ id.replace('-', '_') }}" {
  {% if refs is defined and refs.vpc is defined %}
  vpc_id = aws_vpc.{{ refs.vpc.replace('-','_') }}.id
  {% endif %}

  tags = {
    Name = "{{ name | default('') }}"
    {% if tags is defined and tags %}
    {% for key, value in tags.items() %}
    {{ key }} = "{{ value }}"
    {% endfor %}
    {% endif %}
  }
}